body {
  margin:0;
  font-family:"Raleway", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

canvas{
  display: block;
  vertical-align: middle;

}



.mainCanvasBack{
  position:relative;
  width: 100%;
  background-image:url('img/text-slider-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;


}

.bg-overlay,.bg-img{
  position:relative;
  background-position:center top;
  background-size:cover;
  background-color: rgba(0,0,0,.8);
  z-index:1;
  color:white
}

.pdb-70{
  padding-bottom:70px;
}
.section-padding{
  padding:100px 0;
}


.single-fun-fact{
  border:1px solid #fff;
  padding:15px;
  margin-bottom:30px;
}

